<?xml version="1.0"?>

<window>
  <position_x>278</position_x>
  <position_y>172</position_y>
  <state>AAAA/wAAAAD9AAAAAQAAAAIAAAUwAAACxvwBAAAAAvwAAAAAAAADXwAAAtoA/////AIAAAAD+wAAABgAUgBlAG4AZABlAHIAVwBpAGQAZwBlAHQBAAAAFAAAAej/////AP///vsAAAAYAFQAbwBwAGkAYwBzACAAcwB0AGEAdABzAQAAAgIAAADYAAAAlgD////7AAAAFABUAGkAbQBlACAAcABhAG4AZQBsAQAAApQAAABGAAAAAAAAAAD8AAADZQAAAcsAAAFeAP////wCAAAAB/sAAAAYAFQAbwBwAGkAYwAgAHYAaQBlAHcAZQByAQAAABQAAACpAAAAlgD////7AAAAFABTAGMAZQBuAGUAIAB0AHIAZQBlAQAAAMMAAACnAAAAdgD////7AAAAEABEAGkAcwBwAGwAYQB5AHMBAAABcAAAAHYAAAB2AP////sAAAAIAFQAaQBtAGUBAAAB7AAAAGYAAABmAP////sAAAAYAFQAaQBtAGUAIABjAG8AbgB0AHIAbwBsAQAAAdkAAABeAAAAAAAAAAD7AAAAHgBUAG8AcABpAGMAIABpAG4AdABlAHIAZgBhAGMAZQEAAAHOAAAAewAAAAAAAAAA/AAAAlgAAACCAAAAggD////8AQAAAAL7AAAAGABUAGUAbABlAG8AcABXAGkAZABnAGUAdAEAAANlAAABywAAANgA////+wAAABgAVABlAGwAZQBvAHAAVwBpAGQAZwBlAHQAAAAERAAAAOwAAAAAAAAAAAAABTAAAAAAAAAABAAAAAQAAAAIAAAACPwAAAAA</state>
  <width>1328</width>
  <height>730</height>
  <ignore>position</ignore>
  <stylesheet>
    /* ---------------------------- */
    /*          VariablePill        */
    /* ---------------------------- */

    /* General */
    ignition--gui--VariablePill
    {
      border-radius: 10px;
      margin: 0px;
    }

    ignition--gui--VariablePill > QLabel
    {
      border-radius: 10px;
      color: #ffffff;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    /* Not selected pill */
    ignition--gui--VariablePill[multiPillParent=false][selectedPill=false],
    ignition--gui--VariablePill[multiPillParent=true][selectedPill=false] > QLabel
    {
      border: 1.5px solid #2196f3;
    }

    /* Selected pill */
    ignition--gui--VariablePill[multiPillParent=false][selectedPill=true],
    ignition--gui--VariablePill[multiPillParent=true][selectedPill=true] > QLabel
    {
      border: 1.5px solid #1565c0;
    }

    /* Not child */
    ignition--gui--VariablePill[multiPillChild=false],
    ignition--gui--VariablePill[multiPillParent=false][multiPillChild=false] > QLabel
    {
      border-radius: 10px;
      border: 0.5px solid #2196f3;
      background-color: #2196f3;
    }

    /* Child */
    ignition--gui--VariablePill[multiPillChild=true],
    ignition--gui--VariablePill[multiPillParent=true][multiPillChild=false] > QLabel
    {
      background-color: #64b5f6;
    }

    /* ---------------------------- */
    /*           Buttons            */
    /* ---------------------------- */
    QPushButton#collapsibleButton
    {
      padding: 8px;
    }
  </stylesheet>
  <menus>
    <file/>
    <plugins from_paths="0">
      <show>Plot</show>
      <show>Requester</show>
      <show>Responder</show>
      <show>delphyne_gui_teleop_widget</show>
      <show>TimePanel</show>
      <show>TopicInterface</show>
      <show>TopicsStats</show>
      <show>TopicViewer</show>
    </plugins>
  </menus>
</window>
<plugin filename="Scene3D">
  <engine>ogre</engine>
  <pose_topic>/visualizer/pose_update</pose_topic>
  <scene>scene</scene>
  <service>/get_scene</service>

  <!-- The following two topics can be specified to support adding and deleting
       models and lights from the scene. They are not currently used, but we
       specify them here to prevent console warnings. -->
  <deletion_topic>/unused_deletion_topic</deletion_topic>
  <scene_topic>/unused_scene_topic</scene_topic>

  <has_titlebar>false</has_titlebar>
  <ambient_light>0 0 1</ambient_light>
  <background_color>0.8 0.8 0.8</background_color>
  <camera_pose>-6 0 6 0 0.5 0</camera_pose>
</plugin>

<plugin filename="WorldControl">
  <ignition-gui>
    <title>Time</title>
    <property type="double" key="height">72</property>
    <property type="double" key="width">121</property>
    <property type="double" key="z">1</property>
  </ignition-gui>
  <play_pause>true</play_pause>
  <start_paused>false</start_paused>
  <step>true</step>
  <service>/world_control</service>
</plugin>

<plugin filename="WorldStats">
  <ignition-gui>
    <title>Stats</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="resizable">false</property>
    <property type="double" key="height">110</property>
    <property type="double" key="width">290</property>
    <property type="double" key="z">1</property>

    <property type="string" key="state">floating</property>
    <anchors target="Time">
      <line own="left" target="left"/>
      <line own="bottom" target="bottom"/>
    </anchors>
  </ignition-gui>
  <real_time_factor>true</real_time_factor>
  <topic>/world_stats</topic>
</plugin>

<plugin filename="TopicInterface" read_only="true">
  <title>Scene tree</title>
  <topic>/scene</topic>
  <message_type>ignition.msgs.Scene</message_type>
  <hide>ambient</hide>
  <hide>background</hide>
  <hide>fog</hide>
  <hide>grid</hide>
  <hide>header</hide>
  <hide>joint</hide>
  <hide>light</hide>
  <hide>model::deleted</hide>
  <hide>model::header</hide>
  <hide>model::id</hide>
  <hide>model::is_static</hide>
  <hide>model::joint</hide>
  <hide>model::joint::bounce</hide>
  <hide>model::joint::cfm</hide>
  <hide>model::joint::child_id</hide>
  <hide>model::joint::fudge_factor</hide>
  <hide>model::joint::gearbox</hide>
  <hide>model::joint::header</hide>
  <hide>model::joint::id</hide>
  <hide>model::joint::limit_cfm</hide>
  <hide>model::joint::limit_erp</hide>
  <hide>model::joint::parent_id</hide>
  <hide>model::joint::screw</hide>
  <hide>model::joint::sensor</hide>
  <hide>model::joint::suspension_cfm</hide>
  <hide>model::joint::suspension_erp</hide>
  <hide>model::link::battery</hide>
  <hide>model::link::canonical</hide>
  <hide>model::link::collision</hide>
  <hide>model::link::density</hide>
  <hide>model::link::enabled</hide>
  <hide>model::link::gravity</hide>
  <hide>model::link::header</hide>
  <hide>model::link::id</hide>
  <hide>model::link::inertial</hide>
  <hide>model::link::kinematic</hide>
  <hide>model::link::name</hide>
  <hide>model::link::projector</hide>
  <hide>model::link::self_collide</hide>
  <hide>model::link::sensor</hide>
  <hide>model::link::visual</hide>
  <hide>model::model</hide>
  <hide>model::scale</hide>
  <hide>model::self_collide</hide>
  <hide>model::visual</hide>
  <hide>name</hide>
  <hide>origin_visual</hide>
  <hide>shadows</hide>
  <hide>sky</hide>
</plugin>

<plugin filename="TopicsStats"/>

<plugin filename="TopicViewer"/>

<plugin filename="delphyne_gui_teleop_widget">
  <car_number>0</car_number>
</plugin>

<plugin filename="Displays">
  <displays>
    <display type="RealtimeFactorDisplay" />
    <display type="GridDisplay">
      <cell_count>250</cell_count>
      <vertical_cell_count>0</vertical_cell_count>
      <cell_length>1.000000</cell_length>
      <pose>0 0 0 0 -0 0</pose>
      <color>0.7 0.7 0.7 0.3</color>
    </display>
    <display type="delphyne_gui_origin_display" />
    <display type="delphyne_gui_agent_info_display" />
  </displays>
</plugin>
