<?xml version="1.0"?>

<window>
  <width>1366</width>
  <height>768</height>
  <style
    material_theme="Light"
    material_primary="DeepOrange"
    material_accent="LightBlue"
    toolbar_color_light="#f3f3f3"
    toolbar_text_color_light="#111111"
    toolbar_color_dark="#414141"
    toolbar_text_color_dark="#f3f3f3"
    plugin_toolbar_color_light="#bbdefb"
    plugin_toolbar_text_color_light="#111111"
    plugin_toolbar_color_dark="#607d8b"
    plugin_toolbar_text_color_dark="#eeeeee"
  />
  <menus>
    <file/>
  </menus>
  <dialog_on_exit>true</dialog_on_exit>
</window>
<plugin filename="Scene3D">
  <ignition-gui>
    <title>Scene3D</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="showCollapseButton">false</property>
    <property type="bool" key="showDockButton">false</property>
    <property type="bool" key="showCloseButton">false</property>
  </ignition-gui>
  <engine>ogre</engine>
  <pose_topic>/visualizer/pose_update</pose_topic>
  <scene>scene</scene>
  <service>/get_scene</service>

  <!-- The following two topics can be specified to support adding and deleting
       models and lights from the scene. They are not currently used, but we
       specify them here to prevent console warnings. -->
  <deletion_topic>/unused_deletion_topic</deletion_topic>
  <scene_topic>/unused_scene_topic</scene_topic>

  <has_titlebar>false</has_titlebar>
  <ambient_light>0 0 1</ambient_light>
  <background_color>0.8 0.8 0.8</background_color>
  <camera_pose>-6 0 6 0 0.5 0</camera_pose>
</plugin>

<plugin filename="WorldStats">
  <ignition-gui>
    <title>World stats</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="resizable">false</property>
    <property type="double" key="height">110</property>
    <property type="double" key="width">290</property>
    <property type="double" key="z">1</property>

    <property type="string" key="state">floating</property>
    <anchors target="Scene3D">
      <line own="right" target="right"/>
      <line own="bottom" target="bottom"/>
    </anchors>
  </ignition-gui>
  <real_time_factor>true</real_time_factor>
  <iterations>true</iterations>
  <topic>/world_stats</topic>
</plugin>

<plugin filename="PlaybackPlugin">
  <ignition-gui>
    <property type="bool" key="showCollapseButton">true</property>
    <property type="bool" key="showDockButton">true</property>
    <property type="bool" key="showCloseButton">true</property>
    <property type="bool" key="resizable">true</property>
  </ignition-gui>
</plugin>

<plugin filename="TopicInterfacePlugin" read_only="true">
  <title>Scene tree</title>
  <topic>/scene</topic>
  <hide>ambient</hide>
  <hide>background</hide>
  <hide>fog</hide>
  <hide>grid</hide>
  <hide>header</hide>
  <hide>joint</hide>
  <hide>light</hide>
  <hide>model::deleted</hide>
  <hide>model::header</hide>
  <hide>model::id</hide>
  <hide>model::is_static</hide>
  <hide>model::joint</hide>
  <hide>model::joint::bounce</hide>
  <hide>model::joint::cfm</hide>
  <hide>model::joint::child_id</hide>
  <hide>model::joint::fudge_factor</hide>
  <hide>model::joint::gearbox</hide>
  <hide>model::joint::header</hide>
  <hide>model::joint::id</hide>
  <hide>model::joint::limit_cfm</hide>
  <hide>model::joint::limit_erp</hide>
  <hide>model::joint::parent_id</hide>
  <hide>model::joint::screw</hide>
  <hide>model::joint::sensor</hide>
  <hide>model::joint::suspension_cfm</hide>
  <hide>model::joint::suspension_erp</hide>
  <hide>model::link::battery</hide>
  <hide>model::link::canonical</hide>
  <hide>model::link::collision</hide>
  <hide>model::link::density</hide>
  <hide>model::link::enabled</hide>
  <hide>model::link::gravity</hide>
  <hide>model::link::header</hide>
  <hide>model::link::id</hide>
  <hide>model::link::inertial</hide>
  <hide>model::link::kinematic</hide>
  <hide>model::link::projector</hide>
  <hide>model::link::self_collide</hide>
  <hide>model::link::sensor</hide>
  <hide>model::link::visual</hide>
  <hide>model::model</hide>
  <hide>model::scale</hide>
  <hide>model::self_collide</hide>
  <hide>model::visual</hide>
  <hide>name</hide>
  <hide>origin_visual</hide>
  <hide>shadows</hide>
  <hide>sky</hide>
</plugin>


<plugin filename="TopicsStats"/>

<plugin filename="TopicViewer">
  <ignition-gui>
    <property type="bool" key="showCollapseButton">true</property>
    <property type="bool" key="showDockButton">true</property>
    <property type="bool" key="showCloseButton">true</property>
    <property type="bool" key="resizable">true</property>
  </ignition-gui>
</plugin>

<plugin filename="AgentInfoDisplay">
  <ignition-gui>
    <property key="state" type="string">docked_collapsed</property>
  </ignition-gui>
  <!-- Must match the same name as Scene3D plugin's scene parameter -->
  <scene>scene</scene>
</plugin>

<plugin filename="OriginDisplay">
  <ignition-gui>
    <property key="state" type="string">docked_collapsed</property>
  </ignition-gui>
  <!-- Must match the same name as Scene3D plugin's scene parameter -->
  <scene>scene</scene>
</plugin>

<plugin filename="Grid3D">
  <ignition-gui>
    <property key="state" type="string">docked_collapsed</property>
  </ignition-gui>
  <engine>ogre</engine>
  <scene>scene</scene>
  <insert>
    <cell_count>250</cell_count>
    <vertical_cell_count>0</vertical_cell_count>
    <cell_length>1.000000</cell_length>
    <pose>0 0 0 0 0 0</pose>
    <color>0.7 0.7 0.7 0.3</color>
  </insert>
</plugin>
