<?xml version="1.0"?>

<window>
  <state>AAAA/wAAAAD9AAAAAQAAAAIAAAUwAAACwfwBAAAAAvwAAAAAAAAC2gAAAtoAAALa/AIAAAAE+wAAABgAUgBlAG4AZABlAHIAVwBpAGQAZwBlAHQBAAAAGQAAAbD/////AP///vsAAAAYAFQAbwBwAGkAYwBzACAAcwB0AGEAdABzAQAAAc8AAAC/AAAAmgD////7AAAAFABUAGkAbQBlACAAcABhAG4AZQBsAQAAApQAAABGAAAAAAAAAAD7AAAAGABUAGkAbQBlACAAYwBvAG4AdAByAG8AbAEAAAKUAAAARgAAAEYAAABG/AAAAuAAAAJQAAABXgD////8AgAAAAT7AAAAGABUAG8AcABpAGMAIAB2AGkAZQB3AGUAcgEAAAAZAAABFwAAAJoA////+wAAABQAUwBjAGUAbgBlACAAdAByAGUAZQEAAAE2AAABEwAAAHkA////+wAAAB4AVABvAHAAaQBjACAAaQBuAHQAZQByAGYAYQBjAGUBAAABzgAAAHsAAAAAAAAAAPwAAAJPAAAAiwAAAIsA/////AEAAAAC+wAAABgAVABlAGwAZQBvAHAAVwBpAGQAZwBlAHQBAAAC4AAAAlAAAADsAP////sAAAAYAFQAZQBsAGUAbwBwAFcAaQBkAGcAZQB0AAAABEQAAADsAAAAAAAAAAAAAAUwAAAAAAAAAAQAAAAEAAAACAAAAAj8AAAAAA==</state>
  <position_x>278</position_x>
  <position_y>172</position_y>
  <width>1328</width>
  <height>730</height>
  <stylesheet>
    /* We need an empty stylesheet so that it loads the system's default style */
  </stylesheet>
  <menus>
    <plugins from_paths="false">
      <show>Plot</show>
      <show>Requester</show>
      <show>Responder</show>
      <show>TeleopWidget</show>
      <show>TimePanel</show>
      <show>TopicsStats</show>
      <show>TopicViewer</show>
    </plugins>
  </menus>
</window>

<plugin filename="RenderWidget">
  <has_titlebar>false</has_titlebar>
</plugin>
<plugin filename="TimePanel">
  <title>Time control</title>
  <world_control>
    <play_pause>true</play_pause>
    <start_paused>false</start_paused>
    <service>/world_control</service>
  </world_control>
</plugin>

<plugin filename="TopicInterface" read_only="true">
  <title>Scene tree</title>
  <topic>/scene</topic>
  <message_type>ignition.msgs.Scene</message_type>
  <hide>header</hide>
  <hide>name</hide>
  <hide>ambient</hide>
  <hide>background</hide>
  <hide>sky</hide>
  <hide>shadows</hide>
  <hide>fog</hide>
  <hide>grid</hide>
  <hide>origin_visual</hide>
  <hide>joint</hide>
  <hide>model::header</hide>
  <hide>light::header</hide>
</plugin>

<plugin filename="TopicsStats"/>
<plugin filename="TopicViewer"/>
