<?xml version="1.0"?>

<window>
  <state>AAAA/wAAAAD9AAAAAQAAAAIAAAUwAAACwfwBAAAAAvwAAAAAAAADvwAAAtoA/////AIAAAAD+wAAABgAUgBlAG4AZABlAHIAVwBpAGQAZwBlAHQBAAAAGQAAAeX/////AP///vsAAAAYAFQAbwBwAGkAYwBzACAAcwB0AGEAdABzAQAAAgQAAADWAAAAmgD////7AAAAFABUAGkAbQBlACAAcABhAG4AZQBsAQAAApQAAABGAAAAAAAAAAD8AAADxQAAAWsAAAFrAAABa/wCAAAABfsAAAAYAFQAbwBwAGkAYwAgAHYAaQBlAHcAZQByAQAAABkAAAEuAAAAmgD////7AAAAFABTAGMAZQBuAGUAIAB0AHIAZQBlAQAAAU0AAAEpAAAAeQD////7AAAAGABUAGkAbQBlACAAYwBvAG4AdAByAG8AbAEAAAJ8AAAAXgAAAFwAAABc+wAAAB4AVABvAHAAaQBjACAAaQBuAHQAZQByAGYAYQBjAGUBAAABzgAAAHsAAAAAAAAAAPwAAAJPAAAAiwAAAAAA/////AEAAAAC+wAAABgAVABlAGwAZQBvAHAAVwBpAGQAZwBlAHQBAAAC4AAAAlAAAAAAAAAAAPsAAAAYAFQAZQBsAGUAbwBwAFcAaQBkAGcAZQB0AAAABEQAAADsAAAAAAAAAAAAAAUwAAAAAAAAAAQAAAAEAAAACAAAAAj8AAAAAA==</state>
  <position_x>278</position_x>
  <position_y>172</position_y>
  <width>1328</width>
  <height>730</height>
  <ignore>position</ignore>
  <stylesheet>
    /* We need an empty stylesheet so that it loads the system's default style */
  </stylesheet>
  <menus>
    <plugins from_paths="false">
      <show>Requester</show>
      <show>Responder</show>
      <show>TeleopWidget</show>
      <show>TopicsStats</show>
      <show>TopicViewer</show>
    </plugins>
  </menus>
</window>

<plugin filename="RenderWidget">
  <has_titlebar>false</has_titlebar>
</plugin>
