<?xml version="1.0"?>

<window>
  <state>AAAA/wAAAAD9AAAAAQAAAAIAAAUwAAAC2vwBAAAAAvwAAAAAAAADTAAAAtoA/////AIAAAAC+wAAABgAUgBlAG4AZABlAHIAVwBpAGQAZwBlAHQBAAAAAAAAAhkAAAB9AP////sAAAAYAFQAbwBwAGkAYwBzACAAcwB0AGEAdABzAQAAAh8AAAC7AAAAmgD////8AAADUgAAAd4AAAHaAP////wCAAAAAvsAAAAYAFQAbwBwAGkAYwAgAHYAaQBlAHcAZQByAQAAAAAAAAJJAAAAmgD////8AAACTwAAAIsAAACLAP////wBAAAAAvsAAAAYAFQAZQBsAGUAbwBwAFcAaQBkAGcAZQB0AQAAA1IAAADsAAAA6gD////7AAAAGABUAGUAbABlAG8AcABXAGkAZABnAGUAdAEAAAREAAAA7AAAAOoA////AAAFMAAAAAAAAAAEAAAABAAAAAgAAAAI/AAAAAA=</state>
  <position_x>278</position_x>
  <position_y>172</position_y>
  <width>1328</width>
  <height>730</height>
  <stylesheet>
    /* 1. We need an empty stylesheet so that it loads the system's default style.
       2. We need at least one comment line here because otherwise the visualizer
          will break when loading from this file.
    */
  </stylesheet>
</window>

<plugin filename="RenderWidget"/>
<plugin filename="TopicsStats"/>
<plugin filename="TopicViewer"/>

<!-- We are currently spawning two instances of the TeleopWidget everytime the visualizer is called, even while they're
     only required on some of the demos. This approach is temporal and will be replaced with a more elegant one soon. -->
<plugin filename="TeleopWidget">
  <car_number>0</car_number>
</plugin>

<plugin filename="TeleopWidget">
  <car_number>1</car_number>
</plugin>
