<?xml version="1.0"?>

<window>
    <position_x>278</position_x>
    <position_y>172</position_y>
    <state>AAAA/wAAAAD9AAAAAQAAAAIAAAUwAAACwfwBAAAAAvwAAAAAAAADDwAAAtoA/////AIAAAAD+wAAABgAUgBlAG4AZABlAHIAVwBpAGQAZwBlAHQBAAAAGQAAAeX/////AP///vsAAAAYAFQAbwBwAGkAYwBzACAAcwB0AGEAdABzAQAAAgQAAADWAAAAmgD////7AAAAFABUAGkAbQBlACAAcABhAG4AZQBsAQAAApQAAABGAAAAAAAAAAD8AAADFQAAAhsAAAIbAAACG/wCAAAABvsAAAAYAFQAbwBwAGkAYwAgAHYAaQBlAHcAZQByAQAAABkAAADRAAAAmgD////7AAAAFABTAGMAZQBuAGUAIAB0AHIAZQBlAQAAAPAAAADMAAAAeQD////7AAAACABUAGkAbQBlAQAAAcIAAAB1AAAAcwAAAHP7AAAAGABUAGkAbQBlACAAYwBvAG4AdAByAG8AbAEAAAHZAAAAXgAAAAAAAAAA+wAAAB4AVABvAHAAaQBjACAAaQBuAHQAZQByAGYAYQBjAGUBAAABzgAAAHsAAAAAAAAAAPwAAAI3AAAAowAAAKEA/////AEAAAAC+wAAABgAVABlAGwAZQBvAHAAVwBpAGQAZwBlAHQBAAADFQAAAhsAAAD0AP////sAAAAYAFQAZQBsAGUAbwBwAFcAaQBkAGcAZQB0AAAABEQAAADsAAAAAAAAAAAAAAUwAAAAAAAAAAQAAAAEAAAACAAAAAj8AAAAAA==</state>
    <width>1328</width>
    <height>730</height>
    <stylesheet>
      /* ---------------------------- */
      /*          VariablePill        */
      /* ---------------------------- */

      /* General */
      ignition--gui--VariablePill
      {
        border-radius: 10px;
        margin: 0px;
      }

      ignition--gui--VariablePill > QLabel
      {
        border-radius: 10px;
        color: #ffffff;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
      }

      /* Not selected pill */
      ignition--gui--VariablePill[multiPillParent=false][selectedPill=false],
      ignition--gui--VariablePill[multiPillParent=true][selectedPill=false] > QLabel
      {
        border: 1.5px solid #2196f3;
      }

      /* Selected pill */
      ignition--gui--VariablePill[multiPillParent=false][selectedPill=true],
      ignition--gui--VariablePill[multiPillParent=true][selectedPill=true] > QLabel
      {
        border: 1.5px solid #1565c0;
      }

      /* Not child */
      ignition--gui--VariablePill[multiPillChild=false],
      ignition--gui--VariablePill[multiPillParent=false][multiPillChild=false] > QLabel
      {
        border-radius: 10px;
        border: 0.5px solid #2196f3;
        background-color: #2196f3;
      }

      /* Child */
      ignition--gui--VariablePill[multiPillChild=true],
      ignition--gui--VariablePill[multiPillParent=true][multiPillChild=false] > QLabel
      {
        background-color: #64b5f6;
      }

      /* ---------------------------- */
      /*           Buttons            */
      /* ---------------------------- */

      QPushButton,
      QToolButton
      {
        border: 0px;
        margin: 8px;
        selection-color: transparent;
      }

      QPushButton
      {
        border-radius: 0px;
        color: #393939;
        font-weight: 300;
        text-align: center;
        padding: 8px;
        min-width: 80px;
        background-color: rgba(153, 153, 153, 20%);
      }

      QToolButton
      {
        min-height: 30px;
        min-width: 30px;
        background-color: transparent;
        border-radius: 15px;
      }

      QPushButton:hover,
      QToolButton:hover
      {
        color: #393939;
        selection-color: transparent;
        background-color: rgba(153, 153, 153, 40%);
      }

      QPushButton:pressed,
      QToolButton:pressed
      {
        color: #393939;
        background-color: rgba(153, 153, 153, 60%);
        selection-color: transparent;
      }

      QPushButton:!enabled,
      QToolButton:!enabled
      {
        color: rgba(0, 0, 0, 26%);
        selection-color: transparent;
      }

      QPushButton:checked,
      QToolButton:checked
      {
        selection-color: transparent;
      }

      QPushButton:focus,
      QToolButton:focus
      {
        border: none;
        outline: none;
      }

      QToolButton::menu-indicator
      {
        image: none;
      }

      QPushButton#collapsibleButton
      {
        background-color: transparent;
        margin: 0px;
      }

      QPushButton#collapsibleButton:checked
      {
        background-color: rgba(100, 100, 100, 70);
      }

      QPushButton#collapsibleButton:hover
      {
        background-color: rgba(100, 100, 100, 50);
      }
    </stylesheet>
    <menus>
        <file/>
        <plugins from_paths="0">
            <show>Plot</show>
            <show>Requester</show>
            <show>Responder</show>
            <show>TeleopWidget</show>
            <show>TimeWidget</show>
            <show>TopicInterface</show>
            <show>TopicsStats</show>
            <show>TopicViewer</show>
        </plugins>
    </menus>
</window>
<plugin filename="RenderWidget">
    <has_titlebar>false</has_titlebar>
</plugin>

<plugin filename="TimeWidget">
  <title>Time</title>

  <world_control>
    <play_pause>true</play_pause>
    <start_paused>false</start_paused>
    <service>/world_control</service>
  </world_control>

  <world_stats>
    <real_time_factor>true</real_time_factor>
    <topic>/world_stats</topic>
  </world_stats>

</plugin>

<plugin filename="TopicInterface" read_only="true">
  <title>Scene tree</title>
  <topic>/scene</topic>
  <message_type>ignition.msgs.Scene</message_type>
  <hide>header</hide>
  <hide>name</hide>
  <hide>ambient</hide>
  <hide>background</hide>
  <hide>sky</hide>
  <hide>shadows</hide>
  <hide>fog</hide>
  <hide>grid</hide>
  <hide>joint</hide>
  <hide>origin_visual</hide>
  <hide>joint</hide>
  <hide>model::header</hide>
  <hide>model::id</hide>
  <hide>model::is_static</hide>
  <hide>model::deleted</hide>
  <hide>model::visual</hide>
  <hide>model::scale</hide>
  <hide>model::self_collide</hide>
  <hide>model::model</hide>
  <hide>model::link::header</hide>
  <hide>model::link::id</hide>
  <hide>model::link::self_collide</hide>
  <hide>model::link::gravity</hide>
  <hide>model::link::kinematic</hide>
  <hide>model::link::enabled</hide>
  <hide>model::link::density</hide>
  <hide>model::link::inertial</hide>
  <hide>model::link::visual</hide>
  <hide>model::link::collision</hide>
  <hide>model::link::sensor</hide>
  <hide>model::link::projector</hide>
  <hide>model::link::canonical</hide>
  <hide>model::link::battery</hide>
  <hide>model::joint::header</hide>
  <hide>model::joint::id</hide>
  <hide>model::joint::parent_id</hide>
  <hide>model::joint::child_id</hide>
  <hide>model::joint::cfm</hide>
  <hide>model::joint::bounce</hide>
  <hide>model::joint::fudge_factor</hide>
  <hide>model::joint::limit_cfm</hide>
  <hide>model::joint::limit_erp</hide>
  <hide>model::joint::suspension_cfm</hide>
  <hide>model::joint::suspension_erp</hide>
  <hide>model::joint::gearbox</hide>
  <hide>model::joint::screw</hide>
  <hide>model::joint::sensor</hide>
  <hide>light</hide>
</plugin>

<plugin filename="TopicsStats"/>

<plugin filename="TopicViewer"/>

<plugin filename="TeleopWidget">
    <car_number>0</car_number>
</plugin>
